.bodyBanner {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.horizontalBannerContainer {
  display: flex;
  color: #646464;
  background-color: #d8d8d8;
  width: 970px;
  height: 250px;
  border: 1px solid #b0b0b0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
