.bodyArticle {
  margin: 30px 0 10px 0;
}

.headTitle {
  display: flex;
  justify-content: space-between;
}

.deckArticle {
  display: flex;
  margin: 20px 0 0 0;
  flex-wrap: wrap;
}

img {
  border-radius: 5px;
}

.cardArticle {
  width: 30%;
  margin: 10px 0 0 10px;
}
