.bodyArticle {
  margin: 40px 0;
}

.headTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.deckArticle {
  display: flex;
  margin: 20px 0 0 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imgArticles {
  max-width: 100%;
  border-radius: 5px;
}

.cardArticle {
  width: 30%;
  margin-top: 22px;
}
