.navbarContainer {
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
}

.listItems {
  display: flex;
  list-style: none;
  justify-content: center;
  font-weight: bold;
}

.item {
  margin: 30px;
  color: #000000;
  text-decoration: none;
}
